@{
    ViewData["Title"] = "Categories";
}
@model List<Category> 

<div class="text-center">
    <h1 class="display-2"> Here are all your categories</h1>
    <ul class="list-group">
        <li class="list-group-item-info">Item</li>
    </ul>
</div>