@{
    ViewData["Title"] = "Products";
}

<div class="text-center">
    <h1 class="display-2"> List of all product</h1>
    <div class="list-group text-center">
        <ul class="list-group">
            <li class="list-group-item"></li>
        </ul>
    </div>
</div>