@{
    ViewData["Title"] = "Products";
}
@model List<Product>

<div class="text-center">
    <h1 class="display-2">List of all products</h1>
    <div class="list-group text-center">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category ID</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Price</td>
                        <td>@product.CategoryId</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>